{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
    "prettier/react",
    "prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  // "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
    // "babelOptions": {
    //   "configFile": "./babel.config.js"
    // }
  },
  "plugins": [
    "react-hooks",
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".svg"
        ]
      }
    ],
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "react/react-in-jsx-scope": "off",
    "import/no-unresolved": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "react/no-array-index-key": "off",
    "react/forbid-prop-types": "off",
    "import/extensions": [
      "error",
      "never",
      {
        "svg": "always",
        "png": "always",
        "jpg": "always",
        "jpeg": "always"
      }
    ], 

    "react/jsx-fragments": "off",

    "global-require":"warn",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  }
}